.post-container {
    max-width: 600px;
    border: 1px solid lightgray;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.post-header img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 100%;
}

.post-header p {
    padding: 0 10px;
}

.main-image img {
    width: 600px;
    object-fit: contain;
}
.likes .img-logo {
    width: 30px;
    padding: 10px;
    object-fit: contain;
}

.likes {
    padding: 10px;
}

.likes .reaction-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-input {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
